@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Serwer Controler</title>
    @*<link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/bootstrap-reboot.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/fonts/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Style/Main.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">*@
    @Styles.Render("~/css")



</head>
<body>
    <header class="mainHeader">
        <div class="container">
            <a id="logo"></a>
        </div>
        <div class="navbar navbar-inverse">
            <div class="container">             
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="col-md-4">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="col-md-4">@Html.ActionLink("About", "About", "Home")</li>
                        <li class="col-md-4">@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container body-content mainContainer"> 
        @RenderBody()
        <div class="dataTableControl">
            <table id="table_id" class="display">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Rozszerzenie</th>
                        <th>Rozmiar</th>
                        <th>Data modyfikacji</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Row 1 Data 1</td>
                        <td>Row 1 Data 2</td>
                        <td>Row 1 Data 1</td>
                        <td>Row 1 Data 2</td>
                    </tr>
                    <tr>
                        <td>Row 1 Data 1</td>
                        <td>Row 1 Data 2</td>
                        <td>Row 1 Data 1</td>
                        <td>Row 1 Data 2</td>
                    </tr>
                    <tr>
                        <td>Row 1 Data 1</td>
                        <td>Row 1 Data 2</td>
                        <td>Row 1 Data 1</td>
                        <td>Row 1 Data 2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer class="mainFooter">
        <div class="container">
            <span>Praca Inżynierska Michał Suchorzyński</span>
        </div>        
    </footer>
   

    

    @Scripts.Render("~/js")
    
    <script>
        $(document).ready(function () {
            ConfigureDataTables();
            ConfigureDropDowns()
        });

    </script>
</body>
</html>
